.searchContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.searchBar {
  display: flex;
  background: rgba(255, 255, 255, 0.9);
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: stretch;
  
}

.searchBar input {
  padding: 10px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  width: 200px;
  font-size: 20px;
}

.searchBtn {
  padding: 0 28px;
  margin-left: 30px;
  background-color: #6B46C1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 60px;
  min-height: 50px;
  font-size: 24px;
}

@media (max-width: 768px) {
  .searchBar {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
  }

  .searchBar input {
    width: 100%;
    box-sizing: border-box;
  }

  .searchBtn {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .searchBar input {
    font-size: 16px;
  }

  .searchBtn {
    font-size: 18px;
  }
}


