.nav {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 35px;
  color: #6B46C1;
  font-weight: bold;
}

.menu a {
  margin: 0 15px;
  color: #605DEC;
  text-decoration: none;
  font-size: 22px; 
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-weight: 400;
}

.menu a[href="#flights"] {
  color: #605DEC;
  font-weight: 700;
}

.menu a[href="#hotels"],
.menu a[href="#packages"],
.menu a[href="#signin"] {
  color: #7C8DB0;
}

.menu .signup {
  background-color: #6B46C1;
  color: rgb(233, 224, 224);
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px; 
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-weight: 400;
    width: fit-content; 
}