/* src/components/FlightSection/FlightSection.css */

body, .flights-section, .flights-header, .see-all, .flight-card, .flight-info, .flight-info h3, .flight-info p, .flight-info strong, .flight-title-row, .flight-title-row h3, .flight-title-row strong {
  font-family: 'Nunito Sans', Arial, sans-serif;
}

.flights-section {
  padding: 50px 60px;
  background-color: #f8f9fd;
  margin-top: 0;
  margin-bottom: 0;
  

}

.flights-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.flights-header h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.flights-header .highlight {
  color: #605DEC;
}

.see-all {
  font-size: 20px;
  color: #605DEC;
  text-decoration: none;
}

.flights-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  max-width: 1000px;
  padding-right: 850px;
  padding-top: 20px;
}

h2{
  padding-left: 100px;
  padding-top: 150px;
}

.flight-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
}

.airline-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 64px;
}

.flight-card .flight-duration {
  margin-right: 64px;
  font-size: 18px;
  color: #888;
  min-width: 60px;
  text-align: left;
  padding-left: 32px;
}

.flight-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.flight-time, .flight-price, .flight-stop {
  font-size: 20px;
  margin-right: 24px;
  color: #333;
  padding-left: 70px;
}

.flight-stop {
  color: #000000;
  font-weight: lighter;
  margin-right: 0;
}